<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FigKeyLoggerWcf.Properties.Settings.FigKey_LoggerConnectionString"
      connectionString="Data Source=DESKTOP-FBAELOA;Initial Catalog=FigKey_Logger;User ID=sa;Password=az13132323251.."
      providerName="System.Data.SqlClient" />
    <add name="FigKeyLoggerWcf.Properties.Settings.DvapConnectionString"
      connectionString="Data Source=LAPTOP-BFFCLBD1\SQLEXPRESS;Initial Catalog=Dvap;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="FigKeyLoggerWcf.Properties.Settings.FigKey_LoggerConnectionString1"
      connectionString="Data Source=DESKTOP-FBAELOA;Initial Catalog=FigKey_Logger;Persist Security Info=True;User ID=sa;Password=az13132323251.."
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->

</configuration>
